<div class="forgot-form">    
    <form method="post">
		<div class="avatar"></div>
      <h2>Forgot password</h2>
      <hr>
        <div class="form-group">
            <label>Username or Email</label>
            <input type="text" class="form-control" placeholder="Username or Email" required="required">
        </div>
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Send Recovery email">              
    </form>			
    <div class="text-center small"><a routerLink="/sign-up">Sign up</a> or <a routerLink = "/login">Login</a></div>
</div>
