<!--NAV BAR CONTENT START-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Angular 8</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/page1" routerLinkActive="active">Page 1</a></li>
      <li><a routerLink="/page2" routerLinkActive="active">Page 2</a></li>
      <li><a routerLink="/page3" routerLinkActive="active">Page 3</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Service pages<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/terms-of-use" routerLinkActive="active">Terms Of Use</a></li>
          <li><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
          <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>
      </li>
    </ul>
    <ul *ngIf="!loggedIn" class="nav navbar-nav navbar-right">
      <li><a routerLink="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul *ngIf="loggedIn" class="nav navbar-nav navbar-right">
    <li><a (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
  </ul>
  </div>
</nav>
<!--NAV BAR CONTENT END-->


<router-outlet></router-outlet>


<!--FOOTER CONTENT START-->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">
    <div class="footer-copyright text-center py-3">© 2015-2019 OfferCraft,
      <a href="http://www.offercraft.com" target="_blank"> http://offercraft.com</a>
    </div>
</footer>
<!--FOOTER CONTENT END-->