<div class="recovery-form">    
    <form method="post">
      <h2 class='text-center'>Recovery Account</h2>
      <p class="text-center small">
            Please enter your username or email to recovery your account. You’ll receive an email with instructions.
      </p>
      <hr>
        <div class="form-group">
            <label>Username or Email</label>
            <input type="text" class="form-control" placeholder="Username or Email" required="required">
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Send Recovery email">              
    </form>			
    <p class="text-center small">
        <a routerLink="/sign-up">Sign up</a> or <a routerLink = "/login">Login</a>
    </p>    
</div>